[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-redis = "*"
jmespath = "*"
mysqlclient = "*"
requests = "*"
mysql-connector-python = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
sklearn = "*"
nltk = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
