[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
djangorestframework = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-redis = "*"
jmespath = "*"
mysqlclient = "*"
requests = "*"
mysql-connector-python = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
pandas = "==2.0.3"
numpy = "==1.25.2"
sklearn = "*"
nltk = "*"
asgiref = "==3.7.2"
python-dateutil = "==2.8.2"
pytz = "==2023.3"
scipy = "==1.11.2"
six = "==1.16.0"
sqlparse = "==0.4.4"
typing-extensions = "==4.7.1"
tzdata = "==2023.3"
pyjwt = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
